/**
 * The text which is animated
 */
.data {
	font-family: 'andale mono', monaco, 'lucida console', 'courier new',
		monospace;
	letter-spacing: 2px;
	word-wrap: break-word;
	font-size: 7vw;
	color: white;
}

/**
 * It is the cursor at the end of the `data` or the text which is being animated
 */
.cursor {
	font-size: 7vw;
	color: green;
}
