/**
    Blinks the tag infinitely.

    To increase the speed of blinking, decrease the time. Default given is `1s`.
*/
.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}
