/**
    Outer div having any one of these rules center all the tags present inside it
*/

.center-vertical {
	/*  |       |
        |-      |
        |       |
    */
	height: 100%; /* change to adjust the height */
	display: flex; /* establish flex container */
	flex-direction: column; /* make main axis vertical */
	justify-content: center; /* center items vertically, in this case */
	/*text-align: center;       /* center text horizontly */
}

.center-horizontal {
	/*  |   -   |
        |       |
        |       |
    */
	height: 100%; /* change to adjust the height */
	display: flex; /* establish flex container */
	flex-direction: row; /* make main axis horizontal */
	justify-content: center; /* center items vertically, in this case */
	text-align: center; /* center text horizontly */
}

.center-center {
	/*  |       |
        |   -   |
        |       |
    */
	height: 100%; /* change to adjust the height */
	display: flex; /* establish flex container */
	flex-direction: column; /* make main axis horizontal */
	justify-content: center; /* center items vertically, in this case */
	text-align: center; /* center text horizontly */
}
