.image {
	height: 40%;
	object-fit: contain;
}

/**
 * Text below the image
 */
.text {
	font-family: 'Courier New', monospace;
	color: white;
}

/**
 * It contains `image`, `text`, `link`
 */
.image-divs {
	height: 20vh;
	text-align: center;
}

/**
 * This is used to prevent the overlapping on to the `closing-button`
 * This is used to scroll the div if there are many images
 */
.outer-div {
	margin-top: 20vh;
	height: 100vh;
	overflow-x: scroll;
	width: 100%;
}

.link {
	text-decoration: none;
}
