html,
body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0px;
}

body {
	background-color: rgba(18, 18, 34, 0.67);
}
/* for app id - Here the app is attached */
body > div {
	width: 100%;
	height: 100%;
}

.innerAppDiv {
	width: 100%;
	height: 100%;
}
/* Size of each App component */
.main {
	width: 100%;
	height: 100%;
	background-color: rgb(28, 33, 43);
	z-index: -999;
}
/* Main Logo image - start */
.logo {
	height: 30vh;
	animation-name: logo-grow;
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-timing-function: ease;
	pointer-events: none;
	user-select: none;
}

@keyframes logo-grow {
	from {
		opacity: 0;
		transform: scale(0, 0);
	}
	to {
		opacity: 1;
		transform: scale(1, 1);
	}
}
/* Main Logo image - stop */

/* Text Selection Color - start */
::selection {
	background: rgb(78, 107, 62);
}
::-moz-selection {
	background: rgb(78, 107, 62);
}
/* Text Selection Color - stop */
