/* Menu Logo image - start */
.menu-logo {
	position: fixed;
	right: 2%;
	top: 5%;
	height: 8vh;
	z-index: 100;
	cursor: pointer;
}

/**
 * Rotates the image. When the side-menu is hidden
 */
.menu-logo-rotate {
	composes: menu-logo;
	animation-name: rotation;
	animation-iteration-count: infinite;
	animation-duration: 30s;
	animation-timing-function: linear;
}

/**
 * Stops the rotation of the image when the side-menu is visible
 */
.menu-logo-dont-rotate {
	composes: menu-logo;
}

/**
 * Rotation animation
 */
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* Menu Logo image - stop */
