/**
 * Here `change`,`change1` and `fade`, `fade1` have same rules. They are used to apply animations on each images i.e., 2 images.
 */

.change {
	animation-name: fade;
	animation-timing-function: linear;
	animation-duration: 350ms;
	animation-iteration-count: 1;
}

.change1 {
	animation-name: fade1;
	animation-timing-function: linear;
	animation-duration: 350ms;
	animation-iteration-count: 1;
}

@keyframes fade1 {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}

@keyframes fade {
	0% {
		opacity: 0;
		transform: scale(0, 0);
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
	}
}
