/**
 * It is the main div of the sidemenu.
 */
.vertical {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 20%;
	position: fixed;
	right: 0%;
	background-color: rgb(190, 97, 102);
	display: none;
	z-index: 50;
}
@media only screen and (max-width: 500px) {
	.vertical {
		width: 100vw;
	}
}

/* To Show Menu - start */
.show-menu {
	animation-name: show;
	animation-duration: 700ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	display: flex;
}

@keyframes show {
	from {
		right: -100%;
		opacity: 0;
	}
	to {
		right: 0%;
		opacity: 1;
	}
}
/* To Show Menu - stop */

/* To Hide Menu - start */
.hide-menu {
	animation-name: hide;
	animation-duration: 700ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	display: flex;
}

@keyframes hide {
	0% {
		right: 0%;
		opacity: 1;
	}
	100% {
		right: -100%;
		opacity: 0;
		display: none;
	}
}
/* To Show Menu - stop */
