/**
 * Image of the project
 */
.project-icon {
	display: block;
	width: auto;
	height: 40vh;
	margin: auto;
	pointer-events: none;
	user-select: none;
}

h2 {
	color: #e86f6c;
	margin-top: 50px;
	margin-bottom: 50px;
}

/**
 * Contains the `summary`,`project-site`, `project-icon`
 */
.main-div {
	margin-top: 50px;
}

/**
 * Small description of the project below the image
 */
.summary {
	margin-bottom: 20px;
	color: #b2b6bd;
}

/**
 * Link to project site
 */
.project-site {
	color: #c09998;
	text-decoration: underline;
}
.project-site:hover {
	color: #a3be8c;
}

/**
 * Horizontal line between the projects
 */
hr {
	border: 0px;
	height: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	margin-top: 30px;
	margin-bottom: 30px;
}
