/* The below default rules are only for the quote given for the Home Page */
/* Default rules for Home Page - start */
.data span:hover {
	color: green;
}

.data {
	color: rgb(192, 153, 152);
	font-size: 1.3em;
}

@media only screen and (max-width: 510px) {
	.data {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 347px) {
	.data {
		font-size: 0.7em;
	}
}
/* Default rules for Home Page - end */

/***************************/
/* Define css rules for custom styles for custom classes */
/* When we want to include `ICH` component as child component but don't need default rules */
/* The above default rules are only for the quote given for the Home Page */
/* Existing CSS code can be imported using `composes` */
/* But we cannot import pseudo-classes using `composes` in CSS modules. So, we have to re-define everything here */
/*************************/

/* for home */
/*typewriter - home - start*/

.home span:hover {
	color: green;
}
/*typewriter - home - end*/

.projects span:hover {
	color: black;
}
