html,
body {
	width: 100%;
	height: 100%;
}

* {
	margin: 0px;
	font-family: 'Courier New', monospace;
}

body {
	background-color: rgba(18, 18, 34, 0.67);
}

body > div {
	width: 100%;
	min-height: 100%;
	background-color: rgb(44, 49, 59);
	font-family: 'Courier New', monospace;
	word-wrap: break-word;
	line-height: 1.5;
	color: #b2b6bd;
	font-size: 3vh;
}

/**
 * It is where the type-animation happens.
 */
.type-animation {
	height: 45vh;
	background-color: black;
}

/**
 * It positions the type-animation component inside the `type-animation` div
 */
.animation-position {
	position: relative;
	top: 40%;
}
/**
 * It is the section below the black section where animation happens
 * It is below the `type-animation` div
 */
.matter {
	margin: 0 auto;
	max-width: 80%;
	padding: 30px;
	font-size: 3vh;
}

hr {
	border: 0px;
	height: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
	color: #739a99;
}
